<ion-header>
    <ion-navbar>
        <ion-title>약드세요!</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item>
            <ion-input placeholder="처방전 이름" [(ngModel)]='prescriptionName'>
            </ion-input>
        </ion-item>
        <ion-grid>
            <ion-row *ngFor="let drug of drugs; let i = index">
                <ion-col col-1></ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input placeholder="추가할 약품명({{i+1}})을 입력해주세요." [(ngModel)]='drug.name' (change)="addDrug(i)">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-1>
                    <button ion-button clear item-end [hidden]="i==0">
                        <ion-badge item-end (click)="removeDrug(i)">-</ion-badge>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-item>
            <ion-label>시작일</ion-label>
            <ion-datetime displayFormat="YYYY.MM.DD" [(ngModel)]="startDate" (ionChange)="dateChange()"></ion-datetime>
            <button ion-button clear item-end>
                <ion-badge item-end (click)="addTime('start', -1)">-</ion-badge>
                <ion-badge item-end (click)="addTime('start', 1)">+</ion-badge>
            </button>
        </ion-item>
        <ion-item>
            <ion-label>종료일</ion-label>
            <ion-datetime displayFormat="YYYY.MM.DD" [(ngModel)]="endDate" (ionChange)="dateChange()"></ion-datetime>
            <button ion-button clear item-end>
                <ion-badge item-end (click)="addTime('end', -1)">-</ion-badge>
                <ion-badge item-end (click)="addTime('end', 1)">+</ion-badge>
            </button>
        </ion-item>
        <ion-item>
            <h2>기간</h2>
            <span item-end>{{ period }} 일</span>
        </ion-item>
        <hr>

        <ion-grid>
            <ion-row *ngFor="let time of timeDivisions; let i = index">
                <ion-col col-2>
                    <ion-item>
                        <ion-checkbox color="dark" [(ngModel)]="time.checked " checked="time.checked"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col class="label">
                    {{time.name}}
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="time.time"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-1>
                    <button ion-button clear item-end>
                        <ion-badge item-end (click)="removeTimeDivision(i)">-</ion-badge>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <button (click)="addTimeDivision()" ion-button color="light" full>+</button>
</ion-content>

<ion-footer>
    <button (click)="addPrescription()" ion-button color="primary" full>알림 등록</button>
    <button (click)="cancelAll()" ion-button color="dark" full>알림 해제</button>
</ion-footer>